.student-detail {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.student-detail h2 {
  margin-top: 0;
}

.student-detail p {
  font-size: 16px;
}
